/* font import*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* color variables */
:root {
    --highlight-1: #D32929;
    --highlight-2: #FACD1E;
    --highlight-3: #7F2122;
    --highlight-4: #66023c;
    --bg-color-1: #FFF5E6;
    --bg-color-2: #E5DBB7;
    --bg-color-3: #CAC198;
}

body {
    background: var(--bg-color-1);
    color: var(--highlight-3);
}

header {
    background: var(--highlight-1);
    color: var(--highlight-2);
    text-transform: uppercase;
    font-family: 'Cormorant', serif;
    width: 100%;
    z-index: 3;
    text-shadow: 0px 3px 3px black;
}

#number-input-container {
    background-color: var(--bg-color-2);

}
#number-input-text {
    background: var(--bg-color-3);
    border-color: var(--highlight-1);
}

#number-input-btn {
    font-size: ;
}

main {
    width: 100%;
    max-width: 768px;
    font-family: 'Cormorant', serif;
}

main>h2 {
    width: 100%;
}

form {
    width: 80%;
}
label {
    display: none;
}

#converted-roman-num {
    background-color: var(--highlight-1);
    color: var(--highlight-2);
    margin-bottom: 0;
    width: 100%;
    font-family: 'Cormorant', serif;
    text-shadow: 0px 3px 3px black;
}

footer {
    height: 60px;
    background: var(--highlight-1);
}
#logo-container {
    height: 100%;
    padding-left: 3rem;
}

#logo-icon {
    margin-right: 10px;
}

a {
    color: var(--highlight-2);
    height: 100%;
    transition: color .3s;
}
a:hover {
    color: var(--highlight-4);
}